<div class="row" *ngIf="reservation">
    <div class="col-md-12">
        <form #aa="ngForm" role="form" (submit)="updateReservation()">
            <div class="row">
                <div class="card-header col-md-12">
                    <span class="title-card-header">Reservation Edit</span>
                    <button type="submit" class="btn btn-create-new" [disabled]="!aa.valid || invalidInput"><i class="fa fa-save"></i> Save</button>
                    <a routerLink="" (click)="backClicked()" type="button" class="btn btn-create-new"> <i class="fa fa-angle-left"></i> Go Back</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label>Dates:</label>
                    <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" disabled>
                        <i class="fa fa-calendar fa-fw"></i>
                    </button>
                </span>
                        <input class="form-control" type="text" matInput
                               ngxDaterangepickerMd
                               [locale]="{format: 'YYYY-MM-DD'}"
                               startKey="start"
                               endKey="end"
                               [(ngModel)]="selected"
                               name="daterange"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="room">Room</label>
                        <ng-select id="room" [items]="rooms"
                                   bindLabel="name"
                                   bindValue="id"
                                   [(ngModel)]="reservation.room_booking.room_id" [ngModelOptions]="{standalone: true}" (ngModelChange)="roomChange($event)">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="guest">Guest</label>
                        <input type="text" class="form-control" name="guest" id="guest" [(ngModel)] = "reservation.guest_booking.name" disabled/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="total_guests">Total Guests</label>
                        <input type="number" class="form-control" id="total_guests" name="total_guests" required [(ngModel)] = "reservation.room_booking.guests" disabled/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="max_extra_beds">Extra Beds</label>
                        <input type="number" class="form-control" id="max_extra_beds" name="max_extra_beds" min="0" max="{{ reservation.room_booking.room.max_extra_beds }}" required (ngModelChange)="extraBedsChange($event)" [(ngModel)] = "reservation.room_booking.extra_beds" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="total_cost">Total Cost</label>
                        <input type="number" class="form-control" id="total_cost" name="total_cost" min="0" max="{{reservation.cost}}" required [(ngModel)] = "totalCost" (ngModelChange)="costChange($event)" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="discount_percentage">Discount Percentage</label>
                        <input type="number" class="form-control" id="discount_percentage" name="discount_percentage" min="0" max="100" required [(ngModel)] = "reservation.room_booking.discount_percentage" (ngModelChange)="discountChange($event)"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="calendar_id">Reservation Code</label>
                        <input type="text" class="form-control" name="calendar_id" id="calendar_id" [(ngModel)] = "reservation.room_booking.reservation_code" disabled/>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-create-new" [disabled]="!aa.valid || invalidInput"><i class="fa fa-save"></i> Save</button>
                    <a routerLink="" (click)="backClicked()" type="button" class="btn btn-create-new"> <i class="fa fa-angle-left"></i> Go Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
